@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #111019;
  @apply text-gray-400;
}

a {
  color: #8D77FF;
}

a:visited {
  color: #6883FD;
}

.gradient {
  background: linear-gradient(to right, #c468fd 0%, #6883FD 100%);
  background-clip: text;
  color: transparent;
}

/* TODO blog post h1 should be a gradient font-color */

@layer components {
  h1 {
    @apply text-4xl font-black;
    @apply mt-6 mb-10;
  }

  h2 {
    @apply text-2xl font-medium;
    @apply mt-4 mb-1;
  }

  small {
    @apply text-gray-500;
  }

  p {
    @apply mb-6;
  }

  /* Nested lists get tabbed */
  ul ul {
    @apply ml-4;
  }
}
